<router-outlet></router-outlet>

<!--  R
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<h1>Angular Http POST request example</h1>

  <h2>Enter name and job</h2>
  <form [formGroup]="addUserForm" (ngySubmit)="saveUser()">
      <input  placeholder="Id" formControlName="id" />
    <br /> 
      <input  placeholder="Name" formControlName="name" />
    <br />
    
    <button [disabled]="!addUserForm.valid"  type="submit">
      Add Hero
    </button>
  </form>

  <h2>List of Users</h2>
  <ng-container *ngFor="let hero of heroes">

  </ng-container>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<app-formcontrol></app-formcontrol> !>-->





